@model PinkPanther.Models.LoginViewModel
@{
    ViewData["Title"] = "Iniciar Sesión - Learning Hub";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<main class="main-container">
    <div class="header-text">
        <h2>Bienvenido al Learning Hub</h2>
        <p>Inicia sesión para acceder al Centro de Aprendizaje de IA</p>
    </div>

    <div class="login-card">
        
        <form asp-controller="Home" asp-action="Login" method="post">
            
            <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

            <div class="form-group">
                <label asp-for="Email">Correo electrónico</label>
                <input asp-for="Email" class="form-control" placeholder="tu.email@whirlpool.com" />
                <span asp-validation-for="Email" class="validation-error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input asp-for="Password" class="form-control" placeholder="********" type="password" />
                <span asp-validation-for="Password" class="validation-error"></span>
            </div>

            <div class="checkbox-group">
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe">Recordarme</label>
            </div>

            <button type="submit" class="btn-submit">
                Iniciar Sesión
            </button>
        </form>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}