<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Entrega1_Perfil</title>
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/perfil.css" />
    <link rel="stylesheet" href="~/Entrega1_Perfil.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <div class="container-fluid">

                <!-- logo -->
                <img src="~/img/whirlpool-logo.png" class="logo-whirlpool" />

                <!-- menu -->
                <div class="navbar-nav ms-5">
                    <a class="nav-link menu-link" asp-controller="Catalogo" asp-action="Index">
                        Panel Principal
                    </a>

                    <a class="nav-link menu-link" asp-controller="Tienda" asp-action="Index">
                        Tienda Virtual
                    </a>

                    <a class="nav-link menu-link" asp-controller="Home" asp-action="Index">
                        Mi Perfil
                    </a>
                </div>

                <!-- usuario -->
                <div class="usuario-box">
                    <img id="fotoNavbar" src="~/img/user-icon.png" class="user-icon" />

                    <span class="usuario-nombre">
                        @ViewBag.NombreUsuario
                    </span>
                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Entrega1_Perfil - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
